.movie-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 50%;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-poster {
    width: 100%;
    height: auto;
  }
  
  .movie-details {
    padding: 16px;
  }
  
  .movie-title {
    font-size: 1.2em;
    margin: 0 0 8px;
  }
  
  .movie-rating {
    font-size: 1em;
    color: #555;
  }

  .movie-card-item{
    display: inline-block;
    margin: 10px;
    height: 250px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;

  }